html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "roboto", sans-serif;
}

ion-icon {
  font-size: 27px;
}

main {
  display: flex;
  height: 89.8%;
  color: grey;
}

#icon-alone {
  list-style-type: none;
}
