.container {
  color: white;
  overflow: scroll;
  height: 100%;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #121212;
  }

  &::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
  }

  &::-moz-scrollbar {
    width: 10px;
    background-color: #121212;
  }

  &::-moz-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
  }
  // fine stile container

  .titles {
    margin: 40px 0 30px 20px;
    color: white;
    font-size: 20px;
  }

  // prima sezione
  .firstSection {
    height: 250px;
    margin: 0 10px;
    margin-top: 1em;
    display: flex;

    justify-content: space-between;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      15deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(74, 73, 73, 1) 100%
    );
    border-radius: 0.3em;
    .bodyFirstSection {
      display: flex;
      align-items: center;
      img {
        cursor: pointer;
        margin: 20px;
      }
      p {
        margin: 20px 0;
        font-size: 10px;
        font-weight: 500;
      }
      h1 {
        cursor: pointer;
        margin: 15px 0;
        font-weight: 900;
      }
      h4 {
        cursor: pointer;
        margin: 10px 0 15px;
      }

      h6 {
        cursor: pointer;
        margin: 20px 0 10px;
      }
      h1,
      h4,
      h6 {
        &:hover {
          color: white;
          text-decoration: underline;
        }
      }
      .buttonsSection {
        display: flex;
        align-items: center;
        .salva {
          font-size: 13px;
          margin: 10px 15px;
          background-color: transparent;
          color: white;
          border-radius: 6em;
          border: 0.4px solid gray;
          padding: 5px 20px;
          cursor: pointer;
          &:hover {
            border: 0.4px solid gray;
            transform: scale(1.3);
          }
        }
        .play {
          font-size: 13px;
          font-weight: bolder;
          margin: 10px 0;
          background-color: rgba(16, 208, 16, 0.837);
          color: black;
          border-radius: 6em;
          padding: 5px 20px;
          &:hover {
            transform: scale(1.3);
          }
        }

        ion-icon {
          margin: 0 10px;
          cursor: pointer;
          &:hover {
            transform: scale(1.3);
          }
        }
      }
    }
    button {
      cursor: pointer;
      margin: 15px;
      background-color: transparent;
      color: gray;
      border-radius: 6em;
      border: 0.1px solid rgba(128, 128, 128, 0.172);
      padding: 5px 15px;
      font-size: 7px;
      &:hover {
        color: white;
        transform: scale(1.3);
      }
    }
  }

  // seconda sezione
  .secondSection {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card {
      cursor: pointer;
      margin: 10px;
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 0.3em;
      font-size: 10px;
      background-color: rgba(52, 47, 47, 0.83);
      &:hover {
        transform: scale(1.03);
        background-color: rgba(77, 71, 71, 0.882);
      }
      img {
        border-top-left-radius: 0.3em;
        border-bottom-left-radius: 0.3em;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      h5 {
        font-size: 15px;
        margin: 5px;
        margin-left: 10px;
        text-overflow: ellipsis;
      }
    }
  }

  // terza sezione
  .thirdSection,
  .fourthSection {
    margin: 0 10px;
    display: flex;
    .cards {
      cursor: pointer;
      margin: 5px;

      height: 230px;
      width: 20%;
      background-color: #2f2b2b;
      display: flex;
      flex-direction: column;
      align-content: space-around;
      border-radius: 1em;
      &:hover {
        transform: scale(1.03);
        color: white;
        background-color: rgba(77, 71, 71, 0.882);
      }
      img {
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 70px;

        h5 {
          margin: 10px 5px;
        }
        p {
          font-size: 12px;
          margin: 0 5px;
        }
      }
    }
  }
}

.fourthSection {
  .cards {
    margin-bottom: 3em !important;
  }
}
