.container {
  margin: 10px;
  .firstSection {
    display: flex;
    justify-content: space-between;

    background: rgb(0, 0, 0);
    background: linear-gradient(
      15deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(74, 73, 73, 1) 100%
    );
    .bodyFirstSection {
      display: flex;
      img {
        cursor: pointer;
        margin: 10px;
      }
      h1 {
        cursor: pointer;
        margin: 0;
        margin-top: 5px;
        &:hover {
          color: white;
        }
      }
      h4 {
        cursor: pointer;
        margin: 0;
        margin-bottom: 10px;
        &:hover {
          color: white;
        }
      }

      h6 {
        cursor: pointer;
        margin: 5px 0;
        &:hover {
          color: white;
        }
      }
      .buttonsSection {
        display: flex;
        align-items: center;
        button {
          margin: 5px;
          background-color: transparent;
          color: white;
          border-radius: 6em;
          border: 0.4px solid gray;
          padding: 5px 15px;
          cursor: pointer;
          &:hover {
            background-color: rgb(17, 196, 17);
            color: black;
            transform: scale(1.3);
          }
        }
        ion-icon {
          margin: 10px;
          cursor: pointer;
          &:hover {
            transform: scale(1.3);
          }
        }
      }
    }
    button {
      cursor: pointer;
      margin: 10px;
      background-color: transparent;
      color: gray;
      border-radius: 6em;
      border: 0.1px solid rgba(128, 128, 128, 0.172);
      padding: 5px 15px;
      font-size: 7px;
      &:hover {
        color: white;
        transform: scale(1.3);
      }
    }
  }
  .secondSection {
    display: flex;
    flex-wrap: wrap;
    .card {
      margin: 10px;
      width: 30%;
      display: flex;
      align-items: center;
      font-size: 10px;
      background-color: rgba(52, 47, 47, 0.83);
      p {
        margin-left: 10px;
      }
    }
  }
}
