//inizio rightbar
.right {
  background-color: black;
  padding-top: 10px;
  .friends {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h5 {
      margin-left: 15px;
      font-weight: 700;
    }
    ion-icon {
      font-size: 22px;
      &:hover {
        cursor: pointer;
        color: white;
      }
    }
  }

  .container-friend {
    margin-top: 15px;

    .card-friend {
      display: flex;
      justify-content: space-around;
      margin-bottom: 30px;
      .body-card {
        h5,
        p {
          margin: 0;
          &:hover {
            cursor: pointer;
            color: white;
          }
        }
      }
      p {
        margin: 0;
        font-size: small;
      }
    }
  }
}
