.search {
  margin-left: 20px;
  #searchBar {
    width: 350px;
    border-radius: 3em;
    border: none;
    padding: 8px 40px;
    &:focus {
      outline: none;
    }
  }
}

#lente {
  position: relative;
  color: black;
  left: -340px;
}

.topbarRigth {
  display: flex;
  align-items: center;
}
