footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  position: sticky;
  z-index: 10;
  bottom: 0;
  background-color: #161616;
  border-top: 0.5px solid grey;
  color: white;

  .song {
    margin-left: 10px;
    display: flex;
    align-items: center;
    ion-icon {
      margin: 0 5px;
      opacity: 0.5;
    }
    .song-desc {
      margin: 0.7em;
      p {
        font-size: 0.7em;
        margin: 0;
      }
      h5 {
        font-size: 1.3em;
        font-weight: 300;
        margin: 0;
      }
    }
  }
  .player {
    ion-icon {
      margin: 0 5px;
      opacity: 0.5;
    }
  }
  .like {
    margin-left: 5em;
  }
  .volume {
    display: flex;
    margin-right: 2em;
    ion-icon {
      margin: 0 8px;
      opacity: 0.5;
    }
  }
}
