.center {
  color: white;
  overflow: auto;
  height: 100%;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #121212;
  }

  &::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
  }

  &::-moz-scrollbar {
    width: 10px;
    background-color: #121212;
  }

  &::-moz-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
  }
  // fine stile container

  .titles {
    margin: 40px 0 30px 20px;
    color: white;
    font-size: 20px;
  }
}

.album-cont {
  margin-left: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.containerAlbum {
  display: flex;
  margin-left: 30px;
  color: white;
}

.paragrafoAlbum {
  display: flex;
  align-items: center;
}
.iconsAlbum {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  fill: green;
  margin-top: 30px;
  .bigger {
    font-size: 4em;
    &:hover {
      color: green;
    }
  }
  .heart {
    transform: scale(1.3);
    &:hover {
      cursor: pointer;
      color: white;
    }
  }
  .arrow {
    &:hover {
      color: white;
      cursor: pointer;
    }
  }
  .dot {
    &:hover {
      color: white;
    }
  }
}
#tabellaAlbum {
  width: 95% !important;
  font-size: 0.8em;
  td,
  tr {
    color: rgb(133, 125, 125);
    border: none;
    ion-icon {
      font-size: 1.5em;
    }
  }
}
