body {
  a {
    text-decoration: none;
    color: white;
  }
}

center {
  overflow: auto;
  height: 100%;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #121212;
  }

  &::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
  }

  &::-moz-scrollbar {
    width: 10px;
    background-color: #121212;
  }

  &::-moz-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
  }
}

.containerArtist {
  position: relative;
  height: 40%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .artist {
    color: white;
    display: flex;
    position: absolute;
    .album-cont {
      position: relative;
      top: -230px;
      color: white;
      h2 {
        font-size: 70px;
        margin: 0 0 0.5em 0;
        color: white;
      }
      p {
        margin: 0;
        color: white;
        .bi {
          border-radius: 6em;
          color: #2c96ff;
          background-color: transparent;
        }
      }
    }
  }
}

.play_like {
  margin: 1em;
  display: flex;
  align-items: center;
  .play,
  .dots {
    color: grey;
    margin-right: 0.5em;
    cursor: pointer;
  }
  button {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin-right: 2em;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}

.play {
  font-size: 4em;
  &:hover {
    color: green;
  }
}

.dots {
  &:hover {
    color: white;
  }
}

.canzoni_artista {
  display: flex;
  width: 99%;
  color: white;
}

tbody {
  font-size: medium;
  vertical-align: middle !important;
  img {
    height: 40px;
  }
}

.thirdSectionArtist {
  justify-content: center;
  width: 99%;
  .cards {
    cursor: pointer;
    margin: 10px;
    padding-bottom: 20px;
    background-color: #2f2b2b;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border-radius: 3px;
    &:hover {
      transform: scale(1.03);
      color: white;
      background-color: rgba(77, 71, 71, 0.882);
    }
    img {
      border-radius: 5px;
      margin: 10px;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      margin-left: 5px;

      h5 {
        margin: 10px 5px;
      }
      p {
        font-size: 12px;
        margin: 0 5px;
      }
    }
  }
}
